<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h1>How it works</h1>
    
      <h3>Step 1:  Sign up for an account</h3>
      <p>Log in through Facebook or Google, or create a username and password.</p>
      
      <h3>Step 2:  Connect with friends and family</h3>
      <ul>
        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Look for current users by name</li>
        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Look for an existing family or group</li>
        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Find friends from Facebook and invite them to join</li>
        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Or, invite friends through email.</li>
      </ul>
      
      <h3>Step 3:  Find or create events</h3>
      <ul>
        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Family and class reunions</li>
        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Birthdays</li>
        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Holiday celebrations</li>
        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Potlucks</li>
        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Work parties</li>
        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Or any other get together</li>
      </ul>
      
      <h3>Step 4:  Finish completing your user profile</h3>
      <ul>
        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Your gift wish lists</li>
        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Your food and drink preferences</li>
        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Privately set and track your budget, such as your Christmas budget</li>
        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Your hobbies (for making gift giving easier)</li>
      </ul>
      
      <h3>Step 5:  Connect with others!</h3>
      <ul>
        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Send event invitations</li>
        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Keep in touch on the event forum</li>
        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Buy presents from their wish list (and don't worry about duplicate gift giving)</li>
        <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> Use the meal planner to coordinate potlucks</li>
      </ul>
      
  </div>
</div>
