<div class="jumbotron">
    <div class="home_button">
    <% if logged_in? %>
          <%= link_to "Go to my events", user_path(current_user), class: "btn btn-primary btn-xlarge" %>  
    <% else %>
          <%= link_to "Sign up free", signup_path, class: "btn btn-primary btn-xlarge" %>  
    <% end %>
    </div>
</div>

<div class="jumbotron2">
    <div class="jumbo-element">
        <h2><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> Gifts</h2>
        <ul>
            <li>Share wish lists with specified friends while keeping them private from the rest of the Internet</li>
            <li>Coordinate gift giving and assign secret santas</li>
        </ul>
    </div>
    <div class="jumbo-element">
        <h2><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> Meals</h2>
        <ul>
            <li>Use the meal planner for coordinating dishes to pass</li>
            <li>Share food and drink preferences for ordering catering</li>
        </ul>
    </div>
    <div class="jumbo-element">
        <h2><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Budget</h2>
        <ul>
            <li>Budget for an event</li>
            <li>Budget your holiday spending</li>
        </ul>
    </div>
        <div class="jumbo-element">
        <h2><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span> Connection</h2>
        <ul>
            <li>Connect with others on event discussion boards</li>
            <li>Remind friends and family of yearly events while keeping everyone informed of plans</li>
        </ul>
    </div>
</div>